<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/ferarri.png" alt="ferarri">
  </div>
  <div class="headings">
    <h2>Automobiliai</h2>
    <h3>Premium klasė.</h3>
    <div class="header-btn">
      <a href="../cars/">Nuoma</a>
    </div>
  </div>
</header>


<%- include('partials/footer'); -%>
